<div class="container" style="width: fit-content">
    <br/>
    <button class="btn" (click)="back()">>Back</button>
    <h3>Edit Patient</h3>
    <form [formGroup]="patientform" (ngSubmit)="submitEdit()" novalidate>
      <div *ngIf="validMessage != ''">
        <h3 class="has-info">{{validMessage}}</h3>
      </div>
      <h5>Patient Info</h5>
      <div class="form-group" [hidden]="true">
        <label>Id:</label>
        <input type="text" class="form-control" formControlName="id" required autofocus [(ngModel)] = patient.id/>
      </div>
      <div class="form-group">
        <label>First Name:</label>
        <input type="text" class="form-control" formControlName="firstName" required autofocus [(ngModel)] = patient.firstName/>
      </div>
      <div class="form-group">
        <label>Last Name:</label>
        <input type="text" class="form-control" formControlName="lastName" required [(ngModel)] = patient.lastName/>
      </div>
      <div class="form-group">
        <label>Contact Number:</label>
        <input type="text" class="form-control" formControlName="contactNumber" required [(ngModel)] = patient.contactNumber/>
      </div>
      <div class="form-group">
        <label>Active:</label>
                {{patient.active}} 
      </div>
      <h5>Address</h5>
      <div class="form-group">
          <label>Address Line 1:</label>
          <input type="text" class="form-control" formControlName="addressLine1" required [(ngModel)] = patient.addressLine1/>
        </div>
        <div class="form-group">
            <label>Address Line 2:</label>
            <input type="text" class="form-control" formControlName="addressLine2" required [(ngModel)] = patient.addressLine2/>
          </div>
          <div class="form-group">
              <label>City:</label>
              <input type="text" class="form-control" formControlName="city" required [(ngModel)] = patient.city/>
            </div>
            <div class="form-group">
                <label>Country:</label>
                <input type="text" class="form-control" formControlName="country" required [(ngModel)] = patient.country/>
              </div>
              <div class="form-group">
                  <label>Postal Code:</label>
                  <input type="text" class="form-control" formControlName="postalCode" required [(ngModel)] = patient.postalCode/>
                </div>
      <br/>
      <br/>
      <button type="submit" class="btn btn-primary" >Submit</button>
    </form>
  </div>