
<div class="container">
 <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<br/>
<h3> Patient Details </h3>
<br/>

<div class="search">
  <label for="search_input">
      <input id="search_input" type="text" placeholder="Search for keywords...">
  </label>
</div>

<br/>
 <table class="table">
   <thead>
    <tr>
      <th>FirstName</th>
      <th>LastName</th>
      <th>Contact Number</th>
      <th style="width:300px;">Address</th>
      <th style="width:50px;" colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of patients">
      <td>
        {{p.firstName}}
      </td>
      <td>
        {{p.lastName}}
      </td>
      <td>
        {{p.contactNumber}}
      </td>
  
      <td>
         
           {{p.addressLine1}} , {{p.addressLine2}}, {{p.city}}, {{p.country}}, {{p.postalCode}}
          
        </td>
      <td style="width:40px;"><a  role="tooltip" aria-haspopup="true" class="tooltip tooltip-xs"><clr-icon shape="edit" tool-tip="edit" class="is-info" (click)="edit(p)"></clr-icon><span class="tooltip-content">edit</span></a></td>
      <td style="width:40px;"><a  role="tooltip" aria-haspopup="true" class="tooltip tooltip-xs"><clr-icon shape="trash" tool-tip="soft delete" class="is-warn" (click)="softDelete(p)"></clr-icon><span class="tooltip-content">soft delete</span></a></td>
      <td style="width:40px;"><a  role="tooltip" aria-haspopup="true" class="tooltip tooltip-xs">
          <clr-icon shape="remove" class="is-error" (click)="delete(p)"></clr-icon>
          <span class="tooltip-content">delete</span>
      </a></td>
    </tr>
  </tbody>
  </table>
  <br/>
  <br/>
  <button class="btn" (click)="newPatient()">Add Patient</button>
</div>

