<div class="container" style="width: fit-content">
  <br/>
  <button class="btn" (click)="back()">>Back</button>
  <h3>Add Patient</h3>
  <form [formGroup]="patientform" (ngSubmit)="submitRegistration()" novalidate>
    <div *ngIf="validMessage != ''">
      <h3 class="has-info">{{validMessage}}</h3>
    </div>
    <h5>Patient Info</h5>
    <div class="form-group">
      <label>First Name:</label>
      <input type="text" class="form-control" formControlName="firstName" required autofocus/>
    </div>
    <div class="form-group">
      <label>Last Name:</label>
      <input type="text" class="form-control" formControlName="lastName" required />
    </div>
    <div class="form-group">
      <label>Contact Number:</label>
      <input type="text" class="form-control" formControlName="contactNumber" required />
    </div>
    <h5>Address</h5>
    <div class="form-group">
        <label>Address Line 1:</label>
        <input type="text" class="form-control" formControlName="addressLine1" required />
      </div>
      <div class="form-group">
          <label>Address Line 2:</label>
          <input type="text" class="form-control" formControlName="addressLine2" required />
        </div>
        <div class="form-group">
            <label>City:</label>
            <input type="text" class="form-control" formControlName="city" required/>
          </div>
          <div class="form-group">
              <label>Country:</label>
              <input type="text" class="form-control" formControlName="country" required />
            </div>
            <div class="form-group">
                <label>Postal Code:</label>
                <input type="text" class="form-control" formControlName="postalCode" required/>
              </div>
    <br/>
    <br/>
    <button type="submit" class="btn btn-primary" >Save</button>
  </form>
</div>