<header class="header-6">
		<div class="branding">
			<a class="nav-link">
				<span class="title">Doctor Anywhere</span>
			</a>
		</div>	
		<div class="header-actions">
				<clr-dropdown>
					<button class="nav-icon" clrDropdownTrigger>
						<clr-icon shape="cog"></clr-icon>
						<clr-icon shape="caret down"></clr-icon>
					</button>
					<clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
						<a href="..." clrDropdownItem>Log out</a>
					</clr-dropdown-menu>
				</clr-dropdown>
			</div>
</header>


<router-outlet></router-outlet>